params {
    fastq_encoding = 33
    threads = 4
    toy_dataset = false
}

profiles {
    test {
        params {
            toy_dataset = true
            forward_primer = "CCAGCASCYGCGGTAATTCC"
            reverse_primer = "ACTTTCGTTCTTGATYRA"  // should be TYRATCAAGAACGAAAGT
            fastq_folder = "data"
            output_folder = "test_output"
        }
    }
}

manifest {
    name            = "Fred's metabarcoding pipeline"
    author          = "Frédéric Mahé"
    homePage        = 'https://github.com/frederic-mahe/fred-metabarcoding-pipeline-nextflow'
    description     = """Metabarcoding: swarm-based ASV inference"""
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '0.0.1'
}
